body{
    overflow-x: hidden;
}

.container{
    display: flex;
    text-align: center;
}

.container img{
    height: 30vw;

}

h2{
    position: relative;
    top: -10vw;
    left: 50px;
    font-size: 2.5rem;
    z-index: 100;
    color: blanchedalmond;
}
.img-grad-back{
    width: 100%;
    height: 250px;
    background-color: red;
    position: absolute;
    top: 50px;
    background-color: transparent;
    background: linear-gradient(to right,rgba(0,0,0,0.7),rgba(0,0,0,0.1));
}