* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: aliceblue;
  background-color: transparent;
  background: transparent;
  width: max-content;
  height: min-content;
  border: 2px solid gray;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 160px 200px;
}

.logo-img {
  border-radius: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 270px;
  width: 150px;
  opacity: 0.8;
  display: none;
  /* z-index: -1; */
}
#img-div img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  height: 290px;
  width: 360px;
  opacity: 0.6;
  z-index: -2;
}
h1 {
  position: absolute;
  margin: 0;
  animation: updown 3s;
}
@keyframes updown {
  from {
    transform: scale(0.4);
  }
  to {
    transform: scale(1);
  }
}
h2 {
  text-align: center;
  padding-top: 6px;
  padding-bottom: 1px;
}

#fpwd {
  text-align: left;
  margin-top: 7px;
  font-size: small;
}
#fpwd:hover {
  color: rgb(193, 81, 231);
  text-decoration: underline;
}
.btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 7px;
}
.btn input {
  border-radius: 15px;
  background-color: rgb(99, 160, 231);
  padding: 3px 7px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}
.btn input:hover {
  background-color: rgb(241, 231, 213);
  text-decoration: underline;
}
hr {
  margin-right: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#sign-with-icon {
  height: 30px;
}

.sign-with {
  text-align: center;
}
#sign-with-icon:hover {
  border: 1px black;
  border-radius: 50%;
  border-style: outset;
  transform: scale(0.9);
  object-fit: cover;
}

.div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#email,
#pwd,
#name {
  padding: 2px 7px;
  border-radius: 10px;
}
#email:focus,
#pwd:focus,
#name:focus {
  caret-color: red;
}

.reg-container {
  margin-top: 10px;
  display: flex;
  font-size: small;
}

#reg {
  margin-left: 40px;
}
a {
  text-decoration: none;
  color: black;
}
#reg:hover a {
  color: rgb(193, 81, 231);
  text-decoration: underline;
}
input {
  width: 97%;
}
input[type="button"] {
  width: 70%;
}
